{
    "extends": [
        "eslint:recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
  "plugins": ["react"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "getter-return": "error",
        "no-console": "warn",
        "no-constant-condition": "warn",
        "no-debugger": "warn",
        "no-extra-boolean-cast": "warn",
        "no-extra-parens": "warn",
        "no-extra-semi": "warn",
        "no-unreachable": "warn",

        "block-scoped-var": "warn",
        "consistent-return": "error",
        "curly": ["warn", "all"],
        "dot-notation": "error",
        "eqeqeq": "error",
        "guard-for-in": "warn",
        "no-alert": "warn",
        "no-caller": "error",
        "no-empty-function": "warn",
        "no-eval": "error",
        "no-extra-bind": "warn",
        "no-floating-decimal": "warn",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-labels": "error",
        "no-lone-blocks": "warn",
        "no-loop-func": "warn",
        "no-multi-spaces": "error",
        "no-new": "warn",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-proto": "error",
        "no-restricted-properties": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-useless-call": "warn",
        "no-useless-concat": "warn",
        "no-useless-return": "error",
        "no-void": "error",
        "no-warning-comments": "warn",
        "no-with": "error",
        "radix": "warn",
        "require-await": "warn",
        "yoda": "error",

        "no-catch-shadow": "error",
        "no-label-var": "error",
        "no-shadow": "error",
        "no-shadow-restricted-names": "error",
        "no-undef-init": "warn",
        "no-unused-vars": "warn",

        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "camelcase": ["warn", { "properties": "always" }],
        "comma-dangle": ["warn", "never"],
        "comma-spacing": ["warn", { "before": false, "after": true }],
        "computed-property-spacing": ["error", "never"],
        "consistent-this": ["warn", "that"],
        "func-call-spacing": ["error", "never"],
        "func-names": ["error", "never"],
        "func-style": "warn",
        "implicit-arrow-linebreak": ["warn", "beside"],
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "keyword-spacing": ["warn", { "before": true, "after": true }],
        "lines-between-class-members": ["warn", "always"],
        "new-parens": "error",
        "no-lonely-if": "warn",
        "no-multiple-empty-lines": "error",
        "no-negated-condition": "warn",
        "no-trailing-spaces": "warn",
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "error",
        "one-var-declaration-per-line": "warn",
        "quotes": ["error", "single"],

        "no-var": "error",
        "prefer-template": "error",

      "react/jsx-uses-react": 2,
      "react/jsx-uses-vars": 2,
      "react/react-in-jsx-scope": 2
    }
}